<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>About Us</title>
</head>

<body>
    <%- include ("./partials/navbar") %>

        <div class="bg-light">
            <div class="container py-5">
                <div class="row h-100 align-items-center py-5">
                    <div class="col-lg-6">
                        <h1 class="display-4">About us</h1>
                        <h2 class="lead text-muted mb-0 "><b>Smart Attendance System using Facial Recognition</b></h2>
                        <p class="lead text-muted">Made By: Group 12
                        </p>
                    </div>
                    <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
                </div>
            </div>
        </div>

        <div class="bg-white py-5">
            <div class="container py-5">
                <!-- <div class="row align-items-center mb-5">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <h2 class="font-weight-light">About the Project</h2>
                        <p class="aboutProject font-italic text-muted mb-4 ">At present, attendance, marking involves manual attendance on the paper sheet by professors and teachers, but it is a very time-consuming process and chances of proxy are also an issue that arises in such type of attendance marking.
                            Smart attendance management system is designed to solve the issues of existing manual systems. We have used face recognition concept to mark the attendance of student and make the system better. The system will perform satisfactory
                            in different poses and variations Attendance system will prove to recognize images in different angle and light conditions. The faces which are not in our training dataset will bemarked as unknown. The attendance of recognize
                            images of students will be marked in real time and import to excel sheet and saved by the system automatically. </p><a href="https://github.com/aman003malhotra/smart-attendance-system" target="_blank" rel="noopener noreferrer"
                            class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
                    </div>
                    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                </div> -->
                <div class="row align-items-center">
                    <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
                    <div class="col-lg-6 order-2 order-lg-1">
                        <h2 class="font-weight-light">About the Project</h2>
                        <p class="aboutProject font-italic text-muted mb-4 ">At present, attendance, marking involves manual attendance on the paper sheet by professors and teachers, but it is a very time-consuming process and chances of proxy are also an issue that arises in such type of attendance marking.
                            Smart attendance management system is designed to solve the issues of existing manual systems. We have used face recognition concept to mark the attendance of student and make the system better. The system will perform satisfactory
                            in different poses and variations Attendance system will prove to recognize images in different angle and light conditions. The faces which are not in our training dataset will bemarked as unknown. The attendance of recognize
                            images of students will be marked in real time and import to excel sheet and saved by the system automatically. </p><a href="https://github.com/aman003malhotra/smart-attendance-system" target="_blank" rel="noopener noreferrer"
                            class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light py-0">
            <div class="container py-3">
                <div class="row mb-4 heading justify-content-evenly">
                    <div class="col-lg-5">
                        <h2 class="display-4 font-weight-light">Our Mentor</h2>
                        <p class="font-italic text-muted">This project was made under the guidance of our mentor Dr. Vivek Thapar</p>
                    </div>
                </div>

                <div class="row text-center justify-content-evenly">
                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Dr. Vivek Thapar</h5><span class="small text-uppercase text-muted">Assistant Professor</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="#" class="social-link"><i class="bi bi-github"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/in/vivek-thapar-606b2098/" target="_blank" rel="noopener noreferrer" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End-->

                </div>
            </div>
        </div>

        <div class="bg-light">
            <div class="container">
                <div class="row mb-4 heading justify-content-evenly">
                    <div class="col-lg-5 mt-4">
                        <h2 class="display-4 font-weight-light">Our team</h2>
                        <p class="font-italic text-muted">This project was only possible because of the following members</p>
                    </div>
                </div>

                <div class="row text-center justify-content-evenly">
                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Aman Malhotra</h5><span class="small text-uppercase text-muted">Full Stack Developer and Machine Learning Engineer</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="https://github.com/aman003malhotra" target="_blank" rel="noopener noreferrer" class="social-link"><i class="bi bi-github"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/in/aman-003-malhotra/" target="_blank" rel="noopener noreferrer" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Anurag Pandey</h5><span class="small text-uppercase text-muted">FrontEnd Developer and Database Administrator</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="https://github.com/anurag2002" target="_blank" rel="noopener noreferrer" class="social-link"><i class="bi bi-github"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/in/anurag-pandey-2002/" target="_blank" rel="noopener noreferrer" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Harkirat Singh</h5><span class="small text-uppercase text-muted">Full Stack Developer and Machine Learning Engineer</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a href="https://github.com/har412" target="_blank" rel="noopener noreferrer" class="social-link"><i class="bi bi-github"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/in/harkirat-singh-04bb18190/" target="_blank" rel="noopener noreferrer" class="social-link"><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End-->

                    <!-- Team item-->
                    <!-- <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Sanchi</h5><span class="small text-uppercase text-muted">Kuch Kaam nhi kiya</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item"><a hreftarget="_blank" rel="noopener noreferrer" ="#" class="social-link" ><i class="bi bi-github"></i></a></li>
                                <li class="list-inline-item"><a hreftarget="_blank" rel="noopener noreferrer" ="#" class="social-link" ><i class="bi bi-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- End-->

                </div>
            </div>
        </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>

</html>