<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>Document</title>
</head>

<body class="bg-light">
    <%- include ("./partials/navbar") %>
        <div class="row mt-4 home">
            <div class="container-fluid">
                <div class="col-lg-8 offset-lg-2 box p-4">
                    <div class="row">
                        <h1 style="text-align:center">My Course</h1>

                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 p-2">
                            <div class="card" style="width:100%;">
                                <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/fa/6926005ea411e490ff8d4c5d4ff426/chemistry_logo.png?auto=format%2Ccompress&dpr=1" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h1 class="card-title">
                                        <%= teacher_data[0].subject_name%>
                                    </h1>
                                    <p class="card-text" style="font-size: 30px;">
                                        <%= teacher_data[0].subject_code%>
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-12 px-0  ">
                                            <a href="viewAttendenceTeacher"> <button class=" btn btn-light rounded-pill shadow-sm"><i class="bi bi-eye-fill"></i> View Attendance</button></a>
                                            <a href="markAttendence"> <button class=" btn btn-light rounded-pill shadow-sm"><i class="bi bi-file-earmark-arrow-up-fill"></i> Mark Attendence</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>

</html>