<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"> <img class="logo-img" src="/images/logo.png" alt=""> </a>
        <a class="navbar-brand" href="/">Smart Attendence</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <li class="nav-item mx-3">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/all-student">All Students</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" aria-current="page" href="aboutUs">About us</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="contactUs">Contact us</a>
                </li>
            </ul>
        </div>
        <a href="/users/logout"><button class="btn btn-light rounded-pill shadow-sm"><i class="bi bi-box-arrow-right"></i> Logout</button></a>
    </div>
</nav>